In [7]:
import os
import pandas as pd

raw_dir='/home/lukas/development/poland/data/D/raw'

files = os.listdir(raw_dir)
print(files)

['D_4Q2024.xlsx', 'D_4Q2023.xlsx', 'D_1Q2024.xlsx', 'D_2Q2023.xlsx', 'D_1Q2023.xlsx', 'D_2Q2024.xlsx', 'D_3Q2023.xlsx', 'D_4Q2022.xlsx', 'D_3Q2022.xls', 'D_1Q2022.xlsx', 'D_3Q2024.xlsx', 'D_2Q2022.xlsx', 'D_1Q2025.xlsx']

In [1]:
import os
import pandas as pd

raw_dir='/home/lukas/development/poland/data/D/raw'
# processed_dir='data/D/processed'
sheet_name='Tabl.D.2c'

df = pd.read_excel(os.path.join(raw_dir, 'D_1Q2025.xlsx'), sheet_name=sheet_name, skiprows=7)

df.head()

,Unnamed: 0,Unnamed: 1,w ramach prawa\ndo zakładania przedsiębiorstw / Under freedom of establishment,w ramach swobody wykonywania usług / Under freedom to provide services,Unnamed: 4,Unnamed: 5,w ramach prawa\ndo zakładania przedsiębiorstw / Under freedom of establishment.1,w ramach swobody wykonywania usług / Under freedom to provide services.1,Unnamed: 8
0,Ogółem / Total,1.620654e+07,0,205113.42483,133219.77371,8.838307e+06,474.88982,55745.80214,47733.52096
1,Grupa 1 / Class 1,3.632986e+05,0,62.28438,3.75000,1.026776e+05,0.00000,0.00000,0.00000
2,Grupa 2 / Class 2,3.512977e+05,0,2285.61735,0.00000,1.905779e+05,0.00000,133.40441,0.00000
3,Grupa 3 / Class 3,3.744289e+06,0,0.00000,0.00000,2.220243e+06,0.00000,0.00000,0.00000
4,Grupa 4 / Class 4,5.279897e+04,0,2506.60501,398.82845,1.060548e+04,0.00000,179.52796,196.33322